@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
    font-family: 'Sniglet','Kanit';
}

i {
    color:white;
}

#app {
    display:grid;
    grid-template-columns: 23vw 76.5vw;
    grid-template-rows: 100vh;
    font-family: 'Kanit', sans-serif;
}

#close-btn{
    color:white;
}

#enter-username{
    width:100%;
    font-family: 'Sniglet';
    padding-left: 10px;
    background: rgb(204, 221, 255);
    font-size: 42px;
    color:white;
}

#field-message{
    display:inline;
}

.m-content{
    height:100%;
    color:black;
    padding: 5px !important;
    padding-top:20px !important;
    text-align: center;
}

.my-input {
    width:calc(100%-5px);
    border: 1px solid black;
    text-align: center;
}


#left-side {
    font-family: 'Kanit', sans-serif;
    color: white;
    height:100%;
}

#left-side-real {
    background-color: #6d6d6d;
    height:100%;
}

#message-input {
    transition: 0.2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    border: 1px solid rgba(0, 0, 0, .5);
}

#message-input:focus {
    border:2px solid rgba(0, 0, 0, .5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#message-input:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#right-side{
    font-family: 'Kanit', sans-serif;
    border: 2px solid #413D3D;
}

#username{
    width:100%;
    padding:5px;
}


#message{
    width:90%;
}

.black-icon {
    color:black;
}

.chat-circle {
    transform:translateY(18px);
    margin-right:20px;
    background-color:#82b3c9 !important;
}

.chat-field {
    background-color: #F4EFEF;
    margin: 0px;
    height:84vh;
    overflow: auto;
    padding: 10px;
    margin-bottom:22px;
    overflow-x: hidden;
}

.chat-message {
    width: 320px;
    min-height: 58px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}

.chat-message-me {
  width: 320px;
  min-height: 58px;
  height: 100%;
  background: #82b3c9;
  border-radius: 10px;
  text-align: center;
}

.chat-person {
    margin-bottom:20px;
}

.me {
    text-align: right;
}

.circle {
    display:inline-block;
    margin-bottom:10px;
    margin-left: 10px;
    border-radius: 50%;
    background-color:#82b3c9;
    color: black;
    width: 58px;
    height:50%;
    text-align:center; 
    line-height:58px;
}

.close{
    padding:0px;
}

.d-inline{
    font-size: 100%;
}

.fas{
    padding-left: 5px;
    padding-right: 5px;
}

.group-list {
    height: 850px;
    overflow-y: auto;
    background-color: #6d6d6d;
}

.group-name{
    padding:10px;
    cursor: pointer;
}

.group-top {
    text-align: center;
}

.line {
    width: 400px;
    height: 0px;
    border: 1px solid #9F9A9A;
}

.line-long {
    width: 100%;
    height: 0px;
    border: 1px solid #9F9A9A;
    text-align: center;
    margin-bottom:20px;
}

.login-screen {
    display:flex;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color:black;
    color:white;
    justify-content: center;
    align-items: center;
}

.login-screen input {
    text-align: center;
}

.notation {
  font-size:1em;
}

.send-btn {
    width: 183px;
    height: 38px;
    background: #b3e5fc;
    border-radius: 4px;
    color: white;
    text-align:center; 
    font-size:24px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.send-btn:hover{
    background-color:#74a6b1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.send-btn:active {
    text-decoration: none !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-input{
    width:100%;
    display:inline-flex;
}

.top-bar {
    height: 76px;
    border-width:0px 0px 0px 0px; 
    border-style: solid; 
    padding-top:20px; 
    padding-bottom:20px; 
    padding-left:20px; 
    padding-right:10px; 
    font-size:24px; 
    color: white; 
    background-color:#424242;
}

.white-icon {
    color:white !important;
    cursor: pointer;
    transition:all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.white-icon:hover {
    color:#6d6d6d !important;
}

/*
primary -- #424242 L -- #6d6d6d D -- #1b1b1b
secondary -- #b3e5fc Light #e6ffff Dark #82b3c9
*/

/*Animation*/

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }

  @-webkit-keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
      transform: translate3d(-3000px, 0, 0);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
      transform: translate3d(25px, 0, 0);
    }
  
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
  }


@-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }

  @-webkit-keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }
  

  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }


.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .animated.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }

  .animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  .animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }
  
  .animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }
  
  .animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  .animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }
  
  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }
  
  .animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }
  
  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  
  .animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }